
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #f7f1f1;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
header {
    color: #dfd9d9;
    padding: 20px;
    text-align: center;
}

/* Main styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Adjust width as needed */
    margin-top: 20px; /* Space from the header */
}

section {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust width as needed */
}

/* Footer styles */
footer {
    
    color: #d6cccc;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Heading styles */
h1, h2 {
    margin-bottom: 10px;
}

/* Paragraph styles */
p {
    margin-bottom: 10px;
}

/* Background image */
body {
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}








